<div *ngFor="let album of albums">
  <h1 class="h2">Album: {{ album['name'] }}</h1>
  <div *ngFor="let item of album['items']">
    <div class="col-sm-6 col-md-4 col-lg-3 item">
      <a href="{{ album['path'] + item['name'] }}">
        <img src="{{ album['path'] + item['name'] + '.thumb.gif'}}">
      </a>
    </div>
  </div>
  <div>{{ path }}</div>
</div>
